@using MyProject.ViewModels
@model ShowPageViewModel

@{
    ViewData["Title"]="Show";
}

<div class="container mt-2">
    <div class="row g-2 text-center">
        @foreach (var show in Model.TvShows) 
        {
            <div class="col-1">
                <a asp-controller="Shows" asp-action="Details" asp-route-id="@show.Id">
                    <div class="card bg-dark">
                        <img class="card-img-top img-fluid" src="@show.Image?.Medium" />
                    </div>
                </a>
            </div>
        }
    </div>
    <div class="d-flex justify-content-between mt-2">
        @if (Model.Page == 1)
        {
            <button class="btn btn-secondary disabled">Previous</button>
        }
        else
        {
            <a class="btn btn-primary" asp-controller="Shows" asp-action="Index" asp-route-page="@(Model.Page - 1)">Previous</a>
        }
        <a class="btn btn-primary" asp-controller="Shows" asp-action="Index" asp-route-page="@(Model.Page + 1)">Next</a>
    </div>
</div>