@model TvShow[]

@{
    ViewData["Title"] = "Show";
}

<div class = "container text-center">
    <div class = "row g-2">
        @foreach (var show in Model) 
        {
            <div class = "col-1">
                <a asp-controller="Show" asp-action="Details">
                    <div class = "card bg-dark">
                        <img class = "card-img-top img-fluid" src="@show.Image?.Medium" />
                    </div>
                </a>
            </div>
        }
    </div>
</div>