@model TvShow[]

@{
    ViewData["Title"] = "Shows";
}

<div class = "text-center">
    <h1>Shows</h1>
    <ul>
        @foreach (var show in Model) 
        {
            <li>@show.Name</li>
        }
    </ul>
</div>